body {
  background-color: #F9F9F7;
  color: #1C1C1C;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.perspective-2000 {
  perspective: 2000px;
}

/* Ensure smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
}

::selection {
  background: #000;
  color: #fff;
}